html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
#topBar {
    text-align: center;
    background-color: aliceblue;
}

#manualInput {
    display: none;
    text-align: center;
    font-size: 100px;
    margin-left: 25%;
    max-width: 50%;
}

#currentTime {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 100px;
}

#ao5, #ao12 {
    /* padding:2%; */
    text-align: center;
    margin: 0 auto;
}

#sideBar {
    left:0;
    padding-left: 10px;
    padding-right: 10px;
    width:fit-content;
    background-color: aliceblue;
    height:max-content;
    top: 20%;
    border: 1px solid black;
    border-collapse: collapse;
}

#timeList {
    row-gap: 20px;
    display: block;
}

td {
    padding: 10px;
    text-align: center;
}

#timeList, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#switchInputMethod {
    right: 0;
    bottom: 0;
    position: absolute;
}

.scroll {
    max-height: 55vh;
    overflow-y: scroll;
}