html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family:monospace;
    font-size: large;
}
#topBar {
    text-align: center;
    background-color: aliceblue;
    padding: 0 100px;
}

#manualInput {
    display: none;
    text-align: center;
    font-size: 100px;
    margin-left: 25%;
    max-width: 50%;
}

#currentTime {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 100px;
}

#ao5, #ao12 {
    padding-top: 1%;
    text-align: center;
    margin: 0 auto;
}

#sideBar {
    left:0;
    padding-left: 10px;
    padding-right: 10px;
    width:10%;
    background-color: aliceblue;
    height:max-content;
    top: 20%;
    border: 1px solid black;
    border-collapse: collapse;
}

#timeList {
    display: block;
    width: 100%;
}

#eventSelect {
    margin-top: 5px;
}

td {
    padding: 10px;
    text-align: center;
    /* width: 33%; */
}
td:hover {
    background-color: gainsboro;
}
/* 
tr {
    width: 100%;
} */

#timeList, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#switchInputMethod {
    right: 0;
    bottom: 0;
    position: absolute;
}

.scroll {
    max-height: 55vh;
    overflow-y: scroll;
    width: 100%;
}